Repository opentripplanner/OpenTripPlanner, pull requests merged in 2021-07, with the labels that each got.

#3551 Fix NPE when access/egress mode not specified
  src/main/java/org/opentripplanner/graph_builder/module/NearbyStopFinder.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/router/FilterTransitWhenDirectModeIsEmpty.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/router/street/DirectStreetRouter.java
  src/main/java/org/opentripplanner/routing/api/request/RequestModes.java
  src/main/java/org/opentripplanner/routing/api/request/StreetMode.java
  src/test/java/org/opentripplanner/routing/algorithm/raptor/router/FilterTransitWhenDirectModeIsEmptyTest.java
Labels: Entur test, bug

#3533 Allow http headers to be configured for bike rental updaters
  docs/Changelog.md
  src/ext/java/org/opentripplanner/ext/bikerentalservicedirectory/BikeRentalServiceDirectoryFetcher.java
  src/ext/java/org/opentripplanner/ext/bikerentalservicedirectory/GbfsDataSourceParameters.java
  src/ext/java/org/opentripplanner/ext/bikerentalservicedirectory/api/BikeRentalServiceDirectoryFetcherParameters.java
  src/ext/java/org/opentripplanner/ext/siri/updater/SiriETGooglePubsubUpdater.java
  src/main/java/org/opentripplanner/standalone/config/NodeAdapter.java
  src/main/java/org/opentripplanner/standalone/config/sandbox/BikeRentalServiceDirectoryFetcherConfig.java
  src/main/java/org/opentripplanner/standalone/config/updaters/sources/BikeRentalSourceFactory.java
  src/main/java/org/opentripplanner/updater/alerts/GtfsRealtimeAlertsUpdater.java
  src/main/java/org/opentripplanner/updater/bike_rental/datasources/BCycleBikeRentalDataSource.java
  src/main/java/org/opentripplanner/updater/bike_rental/datasources/GbfsBikeRentalDataSource.java
  src/main/java/org/opentripplanner/updater/bike_rental/datasources/GenericJsonBikeRentalDataSource.java
  src/main/java/org/opentripplanner/updater/bike_rental/datasources/UIPBikeRentalDataSource.java
  src/main/java/org/opentripplanner/updater/bike_rental/datasources/params/BikeRentalDataSourceParameters.java
  src/main/java/org/opentripplanner/updater/bike_rental/datasources/params/GbfsBikeRentalDataSourceParameters.java
  src/main/java/org/opentripplanner/updater/bike_rental/datasources/params/GenericKmlBikeRentalDataSourceParameters.java
  src/main/java/org/opentripplanner/updater/stoptime/GtfsRealtimeHttpTripUpdateSource.java
  src/main/java/org/opentripplanner/util/HttpUtils.java
  src/test/java/org/opentripplanner/standalone/config/NodeAdapterTest.java
  src/test/java/org/opentripplanner/updater/bike_rental/datasources/TestBicimadBikeRentalStationSource.java
  src/test/java/org/opentripplanner/updater/bike_rental/datasources/TestBikeRentalStationSource.java
  src/test/java/org/opentripplanner/updater/bike_rental/datasources/TestShareBikeRentalStationSource.java
Labels: Entur test

#3563 Add bicycle safety report browser
  .gitignore
  docs/Changelog.md
  docs/Troubleshooting-Routing.md
  docs/images/bicycle-safety-report.png
  docs/sandbox/ReportApi.md
  src/ext/java/org/opentripplanner/ext/reportapi/model/BicyleSafetyReport.java
  src/ext/java/org/opentripplanner/ext/reportapi/model/CsvReportBuilder.java
  src/ext/java/org/opentripplanner/ext/reportapi/resource/ReportResource.java
  src/ext/resources/reportapi/report.html
  src/main/java/org/opentripplanner/graph_builder/module/osm/WayPropertySet.java
Labels: Entur test

#3565 Update README with correct information about the v2.0.0 release.
  README.md
Labels: documentation

#3549 Fix optimize transfers - Part 2
  docs/Changelog.md
  docs/Configuration.md
  src/main/java/org/opentripplanner/model/transfer/Transfer.java
  src/main/java/org/opentripplanner/routing/algorithm/mapping/RaptorPathToItineraryMapper.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/OptimizeTransferService.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/TransferOptimizationObjCol.svg
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/api/OptimizedPath.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/api/TransferOptimizationParameters.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/api/TransferOptimized.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/configure/TransferOptimizationServiceConfigurator.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/model/FilterPathsUtil.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/model/MinCostFilterChain.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/model/MinSafeTransferTimeCalculator.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/model/OptimizedPathTail.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/model/TransferWaitTimeCalculator.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/model/TripStopTime.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/model/TripToTripTransfer.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/package.md
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/OptimizePathService.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/OptimizedPathFactory.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/PriorityBasedTransfersCostCalculator.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/StandardTransferGenerator.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransferDiffDebug.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransferGenerator.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransferOptimizedFilterFactory.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransferServiceAdaptor.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransfersPermutationService.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransitPathLegSelector.java
  src/main/java/org/opentripplanner/routing/api/request/TransferOptimizationRequest.java
  src/main/java/org/opentripplanner/standalone/config/RoutingRequestMapper.java
  src/main/java/org/opentripplanner/transit/raptor/api/path/AccessPathLeg.java
  src/main/java/org/opentripplanner/transit/raptor/api/path/EgressPathLeg.java
  src/main/java/org/opentripplanner/transit/raptor/api/path/Path.java
  src/main/java/org/opentripplanner/transit/raptor/api/path/TransferPathLeg.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/path/ForwardPathMapper.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/path/ReversePathMapper.java
  src/test/java/org/opentripplanner/routing/algorithm/mapping/__snapshots__/BikeRentalSnapshotTest.snap
  src/test/java/org/opentripplanner/routing/algorithm/mapping/__snapshots__/TransitSnapshotTest.snap
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/model/FilterPathsUtilTest.java
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/model/MinCostFilterChainTest.java
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/model/MinSafeTransferTimeCalculatorTest.java
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/model/TransferWaitTimeCalculatorTest.java
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/services/OptimizePathServiceTest.java
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransferGeneratorDummy.java
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransferGeneratorTest.java
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransfersPermutationServiceTest.java
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransitPathLegSelectorTest.java
  src/test/java/org/opentripplanner/transit/raptor/_data/api/PathBuilder.java
  src/test/java/org/opentripplanner/transit/raptor/_data/stoparrival/BasicPathTestCase.java
  src/test/java/org/opentripplanner/transit/raptor/_data/transit/TestTransferPoint.java
  src/test/java/org/opentripplanner/transit/raptor/_data/transit/TestTransitData.java
  src/test/java/org/opentripplanner/transit/raptor/_data/transit/TestTripSchedule.java
  src/test/java/org/opentripplanner/transit/raptor/api/path/PathTest.java
Labels: Entur test

#3574 Don't allow A* loops for bicycles
  docs/Changelog.md
  src/main/java/org/opentripplanner/routing/spt/DominanceFunction.java
  src/test/java/org/opentripplanner/routing/algorithm/mapping/BikeRentalSnapshotTest.java
  src/test/java/org/opentripplanner/routing/algorithm/mapping/__snapshots__/BikeRentalSnapshotTest.snap
  src/test/java/org/opentripplanner/routing/street/BicycleRoutingTest.java
Labels: bug
