Repository opentripplanner/OpenTripPlanner, pull requests merged in 2021-10, with the labels that each got.

#3633 bug: Fix NPE in NeTEx Booking Method mapping
  docs/Changelog.md
  src/main/java/org/opentripplanner/netex/issues/StopPlaceWithoutQuays.java
  src/main/java/org/opentripplanner/netex/mapping/BookingInfoMapper.java
  src/main/java/org/opentripplanner/netex/mapping/BookingMethodMapper.java
  src/main/java/org/opentripplanner/netex/mapping/StopAndStationMapper.java
  src/main/java/org/opentripplanner/transit/raptor/api/request/RaptorRequest.java
Labels: bug, Entur, Entur test, Netex

#3635 Reverse transfers for reverse raptor searches
  docs/Changelog.md
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/RaptorTransferIndex.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/TransitLayer.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/request/RaptorRequestTransferCache.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/request/RaptorRoutingRequestTransitData.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransferGenerator.java
  src/main/java/org/opentripplanner/routing/framework/DebugTimingAggregator.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/RaptorTransitDataProvider.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/RangeRaptorWorker.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/transit/ForwardTransitCalculator.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/transit/ReverseTransitCalculator.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/transit/TransitCalculator.java
  src/main/java/org/opentripplanner/transit/raptor/util/ReversedRaptorTransfer.java
  src/test/java/org/opentripplanner/transit/raptor/_data/transit/TestTransitData.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/C03_OnStreetTransfersTest.java
  src/test/java/org/opentripplanner/transit/raptor/rangeraptor/transit/ForwardTransitCalculatorTest.java
  src/test/java/org/opentripplanner/transit/raptor/rangeraptor/transit/ReverseTransitCalculatorTest.java
Labels: bug, improvement, Entur test

#3651 3650 - Allow combined netex and gtfs datasources
  docs/Changelog.md
  src/main/java/org/opentripplanner/graph_builder/module/GtfsModule.java
  src/main/java/org/opentripplanner/netex/NetexModule.java
  src/main/java/org/opentripplanner/routing/graph/Graph.java
Labels: bug, Netex

#3426 Island pruning
  docs/Changelog.md
  src/main/java/org/opentripplanner/common/StreetUtils.java
  src/main/java/org/opentripplanner/graph_builder/GraphBuilder.java
  src/main/java/org/opentripplanner/graph_builder/issues/GraphConnectivity.java
  src/main/java/org/opentripplanner/graph_builder/issues/GraphIsland.java
  src/main/java/org/opentripplanner/graph_builder/issues/IsolatedStop.java
  src/main/java/org/opentripplanner/graph_builder/issues/PrunedIslandStop.java
  src/main/java/org/opentripplanner/graph_builder/linking/VertexLinker.java
  src/main/java/org/opentripplanner/graph_builder/module/PruneFloatingIslands.java
  src/main/java/org/opentripplanner/graph_builder/module/PruneNoThruIslands.java
  src/main/java/org/opentripplanner/graph_builder/module/StreetLinkerModule.java
  src/main/java/org/opentripplanner/graph_builder/module/osm/OpenStreetMapModule.java
  src/main/java/org/opentripplanner/graph_builder/module/osm/WayPropertySetSource.java
  src/main/java/org/opentripplanner/inspector/NoThruTrafficEdgeRenderer.java
  src/main/java/org/opentripplanner/inspector/TraversalPermissionsEdgeRenderer.java
  src/main/java/org/opentripplanner/routing/edgetype/StreetEdge.java
  src/main/java/org/opentripplanner/routing/impl/StreetVertexIndex.java
  src/test/java/org/opentripplanner/ConstantsForTests.java
  src/test/java/org/opentripplanner/graph_builder/module/PruneNoThruIslandsTest.java
  src/test/java/org/opentripplanner/graph_builder/module/osm/WayPropertySetSourceTest.java
  src/test/resources/germany/herrenberg-island-prune-nothru.osm.pbf
Labels: improvement

#3660 Improve stop to area edge linking
  docs/Changelog.md
  src/main/java/org/opentripplanner/graph_builder/linking/AreaVisibilityAdjuster.java
Labels: improvement, Entur test
