Repository opentripplanner/OpenTripPlanner, pull requests merged in 2021-05, with the labels that each got.

#3454 Update NorwayWayPropertySetSource
  src/main/java/org/opentripplanner/graph_builder/module/osm/NorwayWayPropertySetSource.java
Labels: Entur test

#3446 Add bike rental vs walking filter
  docs/Changelog.md
  src/main/java/org/opentripplanner/routing/algorithm/filterchain/ItineraryFilterChainBuilder.java
  src/main/java/org/opentripplanner/routing/algorithm/filterchain/filters/RemoveBikerentalWithMostlyWalkingFilter.java
  src/main/java/org/opentripplanner/routing/algorithm/mapping/RoutingRequestToFilterChainMapper.java
  src/main/java/org/opentripplanner/routing/api/request/ItineraryFilterParameters.java
  src/main/java/org/opentripplanner/standalone/config/ItineraryFiltersMapper.java
  src/test/java/org/opentripplanner/model/plan/TestItineraryBuilder.java
  src/test/java/org/opentripplanner/routing/algorithm/filterchain/filters/RemoveBikeRentalWithMostlyWalkingTest.java
Labels: Entur test

#3447 Make json tags for BikeRentalServiceDirectoryUrl configurable
  docs/sandbox/BikeRentalServiceDirectory.md
  src/ext/java/org/opentripplanner/ext/bikerentalservicedirectory/BikeRentalServiceDirectoryFetcher.java
  src/ext/java/org/opentripplanner/ext/bikerentalservicedirectory/api/BikeRentalServiceDirectoryFetcherParameters.java
  src/main/java/org/opentripplanner/standalone/config/NodeAdapter.java
  src/main/java/org/opentripplanner/standalone/config/UpdatersConfig.java
  src/main/java/org/opentripplanner/standalone/config/package.md
  src/main/java/org/opentripplanner/standalone/config/sandbox/BikeRentalServiceDirectoryFetcherConfig.java
  src/main/java/org/opentripplanner/updater/GraphUpdaterConfigurator.java
  src/main/java/org/opentripplanner/updater/UpdatersParameters.java
  src/test/java/org/opentripplanner/standalone/config/NodeAdapterTest.java
Labels: Entur test, sandbox

#3460 Fix performance issues with the StreetFlexPathCalculator
  docs/sandbox/Flex.md
  src/ext/java/org/opentripplanner/ext/flex/FlexRouter.java
  src/ext/java/org/opentripplanner/ext/flex/flexpathcalculator/StreetFlexPathCalculator.java
  src/ext/java/org/opentripplanner/ext/flex/template/FlexAccessEgressTemplate.java
Labels: Entur test, sandbox

#3463 Show debug layers by default in layer dialogue
  src/client/js/otp/config.js
Labels: Entur test

#3431 TX3 - Guaranteed transfers
  docs/Changelog.md
  docs/Configuration.md
  src/main/java/org/opentripplanner/model/transfer/TransferPoint.java
  src/main/java/org/opentripplanner/model/transfer/TransferService.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/TransitLayer.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/TripPatternWithRaptorStopIndexes.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/mappers/RaptorRequestMapper.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/mappers/TransferIndexGenerator.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/mappers/TransitLayerMapper.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/request/PatternGuaranteedTransferProvider.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/request/RaptorRoutingRequestTransitDataCreator.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/request/TripPatternForDates.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/package.md
  src/main/java/org/opentripplanner/transit/raptor/api/request/SearchParams.java
  src/main/java/org/opentripplanner/transit/raptor/api/request/SearchParamsBuilder.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/RaptorGuaranteedTransferProvider.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/RaptorRoute.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/TransitArrival.java
  src/main/java/org/opentripplanner/transit/raptor/api/view/ArrivalView.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/RangeRaptorWorker.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/RoutingStrategy.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/configure/RaptorConfig.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/multicriteria/McTransitWorker.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/multicriteria/arrivals/TransferStopArrival.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/multicriteria/arrivals/TransitStopArrival.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/standard/NoWaitTransitWorker.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/standard/StdRangeRaptorWorkerState.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/standard/StdTransitWorker.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/standard/StdWorkerState.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/standard/StopArrivalsState.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/standard/debug/DebugStopArrivalsState.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/standard/stoparrivals/StdStopArrivalsState.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/standard/stoparrivals/Stops.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/transit/ForwardTransitCalculator.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/transit/ReverseTransitCalculator.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/transit/SearchContext.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/transit/TransitCalculator.java
  src/main/java/org/opentripplanner/util/OTPFeature.java
  src/test/java/org/opentripplanner/transit/raptor/_data/RaptorTestConstants.java
  src/test/java/org/opentripplanner/transit/raptor/_data/transit/GuaranteedTransfer.java
  src/test/java/org/opentripplanner/transit/raptor/_data/transit/TestRoute.java
  src/test/java/org/opentripplanner/transit/raptor/_data/transit/TestTransferProvider.java
  src/test/java/org/opentripplanner/transit/raptor/_data/transit/TestTransitData.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/E01_GuaranteedTransferTest.java
  src/test/java/org/opentripplanner/transit/raptor/rangeraptor/transit/TripScheduleAlightSearchTest.java
Labels: Entur test, Regression

#3471 Make the IntersectionTraversalCostModel configurable
  docs/Changelog.md
  src/main/java/org/opentripplanner/graph_builder/module/osm/DefaultWayPropertySetSource.java
  src/main/java/org/opentripplanner/graph_builder/module/osm/FinlandWayPropertySetSource.java
  src/main/java/org/opentripplanner/graph_builder/module/osm/GermanyWayPropertySetSource.java
  src/main/java/org/opentripplanner/graph_builder/module/osm/NorwayWayPropertySetSource.java
  src/main/java/org/opentripplanner/graph_builder/module/osm/OpenStreetMapModule.java
  src/main/java/org/opentripplanner/graph_builder/module/osm/UKWayPropertySetSource.java
  src/main/java/org/opentripplanner/graph_builder/module/osm/WayPropertySetSource.java
  src/main/java/org/opentripplanner/routing/api/request/RoutingRequest.java
  src/main/java/org/opentripplanner/routing/core/intersection_model/AbstractIntersectionTraversalCostModel.java
  src/main/java/org/opentripplanner/routing/core/intersection_model/ConstantIntersectionTraversalCostModel.java
  src/main/java/org/opentripplanner/routing/core/intersection_model/IntersectionTraversalCostModel.java
  src/main/java/org/opentripplanner/routing/core/intersection_model/NorwayIntersectionTraversalCostModel.java
  src/main/java/org/opentripplanner/routing/core/intersection_model/SimpleIntersectionTraversalCostModel.java
  src/main/java/org/opentripplanner/routing/graph/Graph.java
  src/main/java/org/opentripplanner/routing/impl/GraphPathFinder.java
  src/test/java/org/opentripplanner/graph_builder/module/osm/TriangleInequalityTest.java
  src/test/java/org/opentripplanner/routing/algorithm/TurnCostTest.java
  src/test/java/org/opentripplanner/routing/core/intersection_model/SimpleTraversalCostModelTest.java
  src/test/java/org/opentripplanner/routing/edgetype/TemporaryPartialStreetEdgeTest.java
Labels: Entur test

#3439 Flex stops in area - NeTEx import
  src/main/java/org/opentripplanner/graph_builder/linking/VertexLinker.java
  src/main/java/org/opentripplanner/graph_builder/module/StreetLinkerModule.java
  src/main/java/org/opentripplanner/netex/mapping/FlexStopLocationMapper.java
  src/main/java/org/opentripplanner/netex/mapping/NetexMapper.java
  src/main/java/org/opentripplanner/netex/mapping/StopTimesMapper.java
  src/main/java/org/opentripplanner/netex/mapping/TripPatternMapper.java
  src/main/java/org/opentripplanner/routing/graph/Graph.java
  src/test/java/org/opentripplanner/netex/mapping/FlexStopLocationMapperTest.java
  src/test/java/org/opentripplanner/netex/mapping/StopTimesMapperTest.java
  src/test/java/org/opentripplanner/netex/mapping/TripPatternMapperTest.java
Labels: Entur test, Netex

#3475 Fix Raptor path mapper for FLEX access and egress
  .gitignore
  docs/Changelog.md
  src/main/java/org/opentripplanner/routing/algorithm/raptor/path/PathDiff.java
  src/main/java/org/opentripplanner/transit/raptor/api/path/Path.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/DefaultCostCalculator.java
  src/main/java/org/opentripplanner/transit/raptor/api/view/ArrivalView.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/SlackProvider.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/path/DestinationArrival.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/path/ForwardPathMapper.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/path/ReversePathMapper.java
  src/main/java/org/opentripplanner/transit/raptor/util/PathStringBuilder.java
  src/test/java/org/opentripplanner/transit/raptor/_data/api/PathBuilderTest.java
  src/test/java/org/opentripplanner/transit/raptor/_data/stoparrival/AbstractStopArrival.java
  src/test/java/org/opentripplanner/transit/raptor/_data/stoparrival/Access.java
  src/test/java/org/opentripplanner/transit/raptor/_data/stoparrival/BasicPathTestCase.java
  src/test/java/org/opentripplanner/transit/raptor/_data/stoparrival/Egress.java
  src/test/java/org/opentripplanner/transit/raptor/_data/stoparrival/FlexAccessAndEgressPathTestCase.java
  src/test/java/org/opentripplanner/transit/raptor/_data/stoparrival/Walk.java
  src/test/java/org/opentripplanner/transit/raptor/_data/transit/TestTransfer.java
  src/test/java/org/opentripplanner/transit/raptor/api/path/PathTest.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/A01_SingeRouteTest.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/B01_AccessTest.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/B02_EgressTest.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/B03_AccessEgressTest.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/B10_FlexAccess.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/B11_FlexEgress.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/C01_TransferBoardAndAlightSlackTest.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/C02_BoardAndAlightSlackWithFlexAccessEgressTest.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/D01_TimeDependentAccessTest.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/E01_GuaranteedTransferTest.java
  src/test/java/org/opentripplanner/transit/raptor/rangeraptor/multicriteria/arrivals/AccessStopArrivalTest.java
  src/test/java/org/opentripplanner/transit/raptor/rangeraptor/multicriteria/arrivals/TransferStopArrivalTest.java
  src/test/java/org/opentripplanner/transit/raptor/rangeraptor/multicriteria/arrivals/TransitStopArrivalTest.java
  src/test/java/org/opentripplanner/transit/raptor/rangeraptor/path/DestinationArrivalTest.java
  src/test/java/org/opentripplanner/transit/raptor/rangeraptor/path/PathMapperTest.java
Labels: Entur test

#3490 Otp2 transfers csv
  docs/sandbox/ReportApi.md
  mkdocs.yml
  src/ext/java/org/opentripplanner/ext/reportapi/model/CsvReportBuilder.java
  src/ext/java/org/opentripplanner/ext/reportapi/model/TransfersReport.java
  src/ext/java/org/opentripplanner/ext/reportapi/resource/ReportResource.java
  src/main/java/org/opentripplanner/api/configuration/APIEndpoints.java
  src/main/java/org/opentripplanner/model/impl/OtpTransitServiceBuilder.java
  src/main/java/org/opentripplanner/model/impl/TransferExport.java
  src/main/java/org/opentripplanner/model/transfer/TransferService.java
  src/main/java/org/opentripplanner/util/OTPFeature.java
  src/main/resources/logback.xml
Labels: Entur test, sandbox

#3492 Otp2 fix back travel
  docs/Changelog.md
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/model/TripToTripTransfer.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransfersPermutationService.java
  src/main/java/org/opentripplanner/transit/raptor/api/path/IntermediatePathLeg.java
  src/main/java/org/opentripplanner/transit/raptor/util/PathStringBuilder.java
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/services/T2TTransferDummy.java
  src/test/java/org/opentripplanner/routing/algorithm/transferoptimization/services/TransfersPermutationServiceTest.java
  src/test/java/org/opentripplanner/transit/raptor/util/PathStringBuilderTest.java
Labels: bug

#3476 Transit reluctance per transit mode
  docs/Changelog.md
  docs/Configuration.md
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/mappers/RaptorRequestMapper.java
  src/main/java/org/opentripplanner/routing/algorithm/raptor/transit/request/TripScheduleWithOffset.java
  src/main/java/org/opentripplanner/routing/algorithm/transferoptimization/configure/TransferOptimizationServiceConfigurator.java
  src/main/java/org/opentripplanner/routing/api/request/RoutingRequest.java
  src/main/java/org/opentripplanner/standalone/config/RoutingRequestMapper.java
  src/main/java/org/opentripplanner/transit/raptor/api/path/TransitPathLegBuilder.java
  src/main/java/org/opentripplanner/transit/raptor/api/request/McCostParams.java
  src/main/java/org/opentripplanner/transit/raptor/api/request/McCostParamsBuilder.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/CostCalculator.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/DefaultCostCalculator.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/FactorStrategy.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/IndexBasedFactorStrategy.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/RaptorCostConverter.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/RaptorTripSchedule.java
  src/main/java/org/opentripplanner/transit/raptor/api/transit/SingleValueFactorStrategy.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/multicriteria/McRangeRaptorWorkerState.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/multicriteria/McTransitWorker.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/transit/SearchContext.java
  src/main/java/org/opentripplanner/transit/raptor/rangeraptor/transit/TripScheduleAlightSearch.java
  src/test/java/org/opentripplanner/netex/mapping/TripMapperTest.java
  src/test/java/org/opentripplanner/routing/algorithm/raptor/transit/request/RaptorRoutingRequestTransitDataCreatorTest.java
  src/test/java/org/opentripplanner/transit/raptor/_data/api/PathBuilder.java
  src/test/java/org/opentripplanner/transit/raptor/_data/api/PathBuilderTest.java
  src/test/java/org/opentripplanner/transit/raptor/_data/stoparrival/BasicPathTestCase.java
  src/test/java/org/opentripplanner/transit/raptor/_data/stoparrival/FlexAccessAndEgressPathTestCase.java
  src/test/java/org/opentripplanner/transit/raptor/_data/transit/TestTripSchedule.java
  src/test/java/org/opentripplanner/transit/raptor/api/transit/CostCalculatorTest.java
  src/test/java/org/opentripplanner/transit/raptor/api/transit/RaptorCostConverterTest.java
  src/test/java/org/opentripplanner/transit/raptor/moduletests/F01_TransitModeReluctanceTest.java
  src/test/java/org/opentripplanner/transit/raptor/speed_test/SpeedTest.java
  src/test/java/org/opentripplanner/transit/raptor/speed_test/SpeedTestRequest.java
Labels: Entur test
